{
  "presets": [
    [
      "es2015",
      { "modules": false }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-flow-strip-types"
      ]
    }
  }
}
